<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost/ProyectoTeclab/Vista/css/salidas.css">
    <title>Lista de Entradas</title>
</head>
<body>
    <!-- Encabezado -->
    <div class="encabezado">
        <img src="http://localhost/ProyectoTeclab/Vista/img/logo.png" alt="">
    </div>
    
    <!-- Seccion Productos -->
    <section class="entradas">
        <div class="busqueda">
            <button id="buscar">Buscar</button>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th id="id-producto">ID</th>
                        <th id="nombre-producto">Producto</th>
                        <th id="fecha">Fecha</th>
                        <th id="cantidad">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>18362</td>
                        <td>FUSION AGUA CODO 20 90° OFERTA "FUSIONAR"</td>
                        <td>25/12/2023</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>18363</td>
                        <td>FUSION AGUA CODO 25 90° OFERTA "FUSIONAR"</td>
                        <td>31/12/2023</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>18432</td>
                        <td>FUSION AGUA CODO 32 90° OFERTA "FUSIONAR"</td>
                        <td>02/01/2024</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>18436</td>
                        <td>FUSION AGUA CODO 90° 20 X ROSCA H 1/2 OFERTA "FUSIONAR"</td>
                        <td>17/01/2024</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="botones">
            <button class="boton" id="btn-editar">Editar</button>
            <button class="boton" id="btn-borrar">Borrar</button>
        </div>
    </section>
</body>
</html>