html{
    background-color: #e3f1fe;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background: #7aa5d2;
    border-radius: 15px;
    width: 600px;
    height: 480px;
    padding: 20px;
    text-align: center;
}
input, select{
    background-color: #cedff1;
    color: #000;
    border-radius: 2px;
    border: none;
    height: 32px;
    display: block;
    width: 100%;
}
button{
    font-size: 13px;
    border: 2px;
    height: 40px;
    width: 30%;
    font-size: 13px;
    color: #fff;
    margin-top: 20px;
}
button a{
    text-decoration: none;
    color: #fff;
}
.submit{
    background: #18a077;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.reset{
    background: #e44040;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;   
}
