html{
    background-color: #e3f1fe;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.encabezado{
    background-color: #7aa5d2;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
table{
    width: 1000px;
    border-collapse: collapse;
}
thead{
    background-color: #7aa5d2;
    color: #fff;
    border-bottom: 2px solid #49637e;
}
th,td{
  padding: 10px;
}
tr:nth-child(even){
    background-color: #cedff1;
}
tr:hover td{
    background-color: #7aa5d2;
    color: #fff;
    cursor: pointer;
}
img{
    width: 200px;
}
.botones{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.boton{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #7aa5d2;
    border-color: #7aa5d2;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busqueda{
    text-align: center;
    margin-bottom: 20px;
}
#buscar{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #7aa5d2;
    border-color: #7aa5d2;
    border-radius: 5px;
}
#atras{
    background-color: #7aa5d2;
    border-color: #7aa5d2;
    border-radius: 45%;
    width: 40px;
    height: 40px;
}
i{
    color: #fff;
}